<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="assets/image1.jpg" alt="">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Developed by: </ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon name="body-outline"></ion-icon>
      <ion-label> The Neighbourhood</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="link-outline"></ion-icon>   
       <ion-label>indieband@something.com</ion-label>
      
    </ion-item>
    <ion-item>
      <ion-icon name="terminal-outline"></ion-icon>
       <ion-label> www.somethingsomething.com</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="person-circle-outline"></ion-icon>
       <ion-label>@The_Hoodies</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="mail-unread-outline"></ion-icon>     
       <ion-label>Codes_w_Hoodies</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="log-in-outline"></ion-icon>    
       <ion-label>Version: 0.001</ion-label>
    </ion-item>
  </ion-card>
</ion-content>